.navbar {
	position: fixed;
	top: 0px;
	width: 100%;
	align-items: center;
	background-color: transparent;
	z-index: 1;
	padding: 0px 25px;
	transition: .7s;
}

.navbar-scroll {
	position: fixed;
	top: 0px;
	height: 50px;
	transition: .7s;
	background-color: #fff;
}

.navbar-scroll .navbar-brand h1 {
	font-size: 22px;
	color: #111;
	margin: 0;
}

.navbar-scroll .nav a {
	font-size: 14px;
	color: #111;
}

.navbar-scroll .nav a:focus {
	color: #111 !important;	
}

.navbar-brand h1 {
	color: #fff;
/*	position: relative;*/
	font-size: 40px;
	left: 20px;
	transition: .2s;
}

.navbar-brand span {
	color: #dfa667;
}

.nav-link {
	color: #fff;
	margin-right: 50px;
	font-size: 18px;
	letter-spacing: 1px;
}

.nav a {
	color: #fff;
}



.nav a:focus {
	color: #fff !important;
	
}

.nav a:hover {
	color: #aaa;
}

/*.nav a:after {
	content: '';
	width: 0px;
	height: 2px;
	background-color: #dfa667;
	margin: auto;
	display: block;
	transition: .3s;
}

.nav a:hover:after {
	width: 100%;
	transition: .3s;
}

.nav a:focus:after {
	width: 100%;
}*/

.show {
	background-color: #333;
}

.offcanvas-title {
	color: #fff;
}

.navbar-nav > a {
	color: #fff;
}

.show .navbar-nav .active {
	color: #fff ;
}

.navbar-nav a:hover {
	color: #dfa667;
}

.btn-close {
	background-color: #888;
}

.navToggle {
		border-width: 0;
/*		margin-top: -20px;*/
}

.navToggle:focus {
	border-width: 0px;
	box-shadow: none;
}

